.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App > * {
  padding: 16px;
}

.TheQuestion {
  font-size: 5em;
}

.TheCount {
  font-size: 4em;
}

.TheButton {
  /* background-color: indigo; */

  width: 5em;
  height: 3em;
  font-size: 5em;
  /* border-radius: 32px; */
}